extends layout

block content
  div#divSub
    h1 Accueil
    h2 R&eacute;sum&eacute;
    span Notre entreprise d&eacute;sire apporter des solutions simples et efficaces au moyen de formation aux
      |employ&eacute;s d&eacute;sireux d'am&eacute;liorer leurs connaissances au niveau de leurs outils de travail,
      |notamment la Suite Office.
    h2 Client&egrave;le vis&eacute;e
    span Nos services s'adressent aux petites entreprises de parcs industriels, aux boutiques d'avocats
      |et autres petits bureaux d'avocats ou de notaires.