doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#divMain
      div#divTitle
        div#divLogo
          img#logo(src='http://res.cloudinary.com/dqwvpqt4m/image/upload/v1480348718/6_dd0btj.jpg')
          div#divLogoSub
            span
              ul
                li Sp&eacute;cialistes en solutions informatiques adapt&eacute;es
                li Formation
        ul#menu
          li#elemMenu
            a#lienMenu(href="/") Accueil
          li#elemMenu
            a#lienMenu(href="/services") Services offerts et tarifs
          li#elemMenu
            a#lienMenu(href="/qui") &Agrave; propos de nous
          li#elemMenu
            a#lienMenu(href="/politiques") Politiques
          li#elemMenu
            a#lienMenu(href="/trucs") Trucs et Astuces
          li#elemMenu
            a#lienMenu(href="/contact") Contactez-nous
      svg#ligne(height="70" width="850")
        polygon(points="0,0 0,60 52,0" style="fill:white; stroke-width:0;")
        line(x1="46" y1="3" x2="804" y2="3" style="stroke:white;stroke-width:7")
        polygon(points="798,0 850,60 850,0" style="fill:white; stroke-width:0;")
        line(x1="-3" y1="60" x2="50" y2="10" style="stroke:#307BC4;stroke-width:10")
        line(x1="47" y1="11" x2="803" y2="11" style="stroke:#307BC4;stroke-width:10")
        line(x1="800" y1="10" x2="853" y2="60" style="stroke:#307BC4;stroke-width:10")
      block content
