//
   Created by Phil on 2016-11-28.

extends layout
block content
   div#divSub
      h1 Politiques et termes de paiement
      
      h2 Politique de confidentialit&eacute;
      span Eur&ecirc;ka Solutions TI reconna&icirc;t le caract&egrave;re confidentiel de toute l'information contenue dans les documents et s'engage &agrave; conserver la nature confidentielle des informations et &agrave; ne pas en divulguer ou partager le contenu.
         
      h2 Politique d'insatisfaction
      span Dans le cas d'insatisfaction concernant la mise en page des documents, Eur&ecirc;ka Solutions TI s'engage &agrave; effectuer les modifications moyennant des frais suppl&eacute;mentaires.
         
      h2 Responsabilit&eacute;
      span Eur&ecirc;ka Solutions TI d&eacute;cline toute responsabilit&eacute; quant aux modifications &eacute;ventuelles, fautives ou non, que le client apporterait au texte apr&egrave;s sa remise.
         
      h2 D&eacute;lai de paiement
      span Terme net de 30 jours ou 2 % de frais d'int&eacute;r&ecirc;t par mois (24 % par an) pour tous les comptes en souffrance. Le paiement peut &ecirc;tre effectu&eacute; par ch&egrave;que au nom d'Eur&ecirc;ka Solutions TI.