//
   Created by Phil on 2016-11-26.

extends layout
block content
   div#divSub
      h1 Services offerts et tarifs
      h2 Phase 1
      ul
         li Formation sur &laquo; mesure &raquo; en vue de la r&eacute;solution de probl&eacute;matique pr&eacute;cise
         li Formation de groupe ou individuelle
         li Formation sur l'utilisation efficace des outils de travail
         li Formation sur les nouvelles technologies : nuages (Exemples : Dropbox, OneDrive, etc), r&eacute;seaux sociaux, t&eacute;l&eacute;phones intelligents, tablettes, etc.
         li Mise en forme de formulaires pour faciliter les t&acirc;ches quotidiennes
         li Service de support bureautique et montage de documents types

      h2 Frais &agrave; la carte
      table.tableTarif
         tr.trTarif
            td.tdTarifG
               span Formation
               br
               span Maximum de 6 participants - Charge additionnelle par utilisateur exc&eacute;dentaire
            td.tdTarifD
               span $ 80,00 / heure
         tr.trTarif
            td.tdTarifG
               span Mise en page de documents
               ul
                  li Mise en forme de formulaires pour faciliter les t&acirc;ches quotidiennes
                  li Montage de documents types
            td.tdTarifD
               span $ 50,00 / heure
         tr.trTarif
            td.tdTarifG
               span Service de support bureautique - Charge minimale de 15 minutes par appel
            td.tdTarifD
               span $ 20,00 / 15 minutes
         tr.trTarif
            td.tdTarifG
               span Consultation et gestion de projet
            td.tdTarifD
               span $ 100,00 / heure
         tr.trTarif
            td.tdTarifG
               span D&eacute;veloppement de capsules e-learning
            td.tdTarifD
               span $ 80,00 / heure
         tr.trTarif
            td.tdTarifG
               span D&eacute;veloppement de petites applications
            td.tdTarifD
               span $ 80,00 / heure
         tr.trTarif
            td.tdTarifG
               span R&eacute;alisation de pages web
            td.tdTarifD
               span $ 50,00 / heure
      h2 Forfaits
      table.tableTarif
         tr.trTarif
            td.tdTarifG
               span 1 heure de formation sur place
               br
               span &
               br
               span 1 heure de support t&eacute;l&eacute;phonique
               br
               span &
               br
               span 1 heure de mise en forme de documents mod&egrave;les ou de montage de documents types
            td.tdTarifD
               span $ 160,00
         tr.trTarif
            td.tdTarifG
               span 3 heures de formation
               br
               span &
               br
               span Support post-formation de 15 minutes
            td.tdTarifD
               span $ 200,00
         tr.trTarif
            td.tdTarifG
               span 3 heures de support t&eacute;l&eacute;phonique
               br
               span &
               br
               span 1 heure de mise en forme de documents mod&egrave;les ou de montage de documents types
            td.tdTarifD
               span $ 250,00
         tr.trTarif
            td.tdTarifG
               span 2 heures de formation sur place 
               br
               span &
               br
               span 3 heures de support t&eacute;l&eacute;phonique
            td.tdTarifD
               span $ 350,00
      h2 Frais de d&eacute;placement - si requis
      table.tableTarif
         tr.trTarif
            td.tdTarifG
               span D&eacute;placement dans un rayon de 30 km
               br
               span Uniquement les frais de stationnement seront imput&eacute;s sur la facture.
            td.tdTarifD
               span Aucun frais
         tr.trTarif
            td.tdTarifG
               span D&eacute;placement de plus de 30 km
            td.tdTarifD
               span 0,54$ / km exc&eacute;dentaire

      h2 Informations compl&eacute;mentaires -
         |<br>Frais pour mise en page de documents

      h3 Tarif &agrave; l'heure
      span Le tarif est d&eacute;termin&eacute; selon un taux horaire de $ 50.00 / heure. Il est possible que nous demandions &agrave; voir votre document afin d'en &eacute;valuer la longueur et la complexit&eacute;. Au besoin, des ententes forfaitaires pourront &ecirc;tre conclues. L'&eacute;valuation du travail est gratuite.
      h3 Tarif de soir&eacute;e et de fin de semaine
      span Il nous est possible de r&eacute;pondre &agrave; des demandes urgentes de soir ou de fin de semaine sur r&eacute;servation uniquement. Un taux horaire de $ 75.00 / heure sera alors appliqu&eacute;. Une demande de soir ou de fin de semaine peut correspondre aux demandes suivantes :
         ul
            li un document livr&eacute; en soir&eacute;e exig&eacute; pour le lendemain matin
            li un document livr&eacute; le vendredi en fin d'apr&egrave;s-midi pour le lundi matin.
      h3 Tarif minimal
      span Un tarif minimal de 20,00 $ sera charg&eacute; pour les tr&egrave;s courts documents (moins d'une page)
      br
      br
      div(style="font-style: italic; padding-left:15px;") D&eacute;finition d'une page - Une page &eacute;quivaut &agrave; une page de traitement de texte, police de caract&egrave;res 12 points (Times New Roman et interligne simple)